.header
  position fixed
  top 0
  width 100%
  padding 10px 0
  background-color #A6DCEB
  box-shadow 0 1px 2px 0 #909090
  z-index 10000

  &__title
    text-align center
    font-size 24px
    color rgba(0,0,0,0.54)
    font-family 'Roboto'

  &__home
    position absolute
    top 18px
    right 20px

  &__search
    position absolute
    top 19px
    right 50px

  .menu-button
    top 18px