.search-box
  padding 20px 20px 0
  background-color #a6dceb
  input
    display inline-block
    width 76%
    padding 2px 8px
    background-color #7CA7B3
    border-radius 6px
    color $color-white

    &::-webkit-input-placeholder
      color $color-white
      opacity 0.7
  button
    margin-left 5px
    color $color-white

.search-box.expanded
  height 48px

.search-box.contracted
  height 0