// Colors
$color-white = #fff
// Blue scale
$color--lighter-blue = #CEEEFB
$color--light-blue = #A6DCEB

// Font color
$fc--light-blue = #17bebb
$fc--pink = #e53935

//assets
$kanban = url('../img/top/image_main.png')

$header-height = 56px